* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
}

html,
body {
    height: 100%;
}

body {
    flex: 1;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* Start of Header Style */
header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 70px;
    z-index: 40;
}

header .logo-container {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    width:126px;
    height:24px;
}

/* End of header style */



/* Start of Body Style */
.body-container {
    width: 100%;
    position: relative;
    z-index: 10;
    padding-top: 90px;
    flex: 1;
    background-image: url(../images/triple-circle-6.jpg);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center top;
}

.body-container .body-container-inner {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.body-container .body-container-inner h1 {
    width: 60%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.animated-paragraph {
    position: relative;
    margin-top: 15px;
    display: inline-block;
    transition: transform 1.5s;
}

.body-container .body-container-inner h3 {
    font-size: 2.5rem;
    color: #750015
}

.word {
    display: none;
}

.visible {
    display: inline;
}

.body-container .body-container-inner p {
    font-size: 18px;
    color: #000;
    width: 73%;
    margin: 20px auto;
}

/* Container for the input and button */
.input-container {
    position: relative;
    width: 70%;
    margin: 35px auto;
}

/* Text input */
.text-input {
    width: 100%;
    padding: 27px 10px 27px 10px;
    font-size: 1.3rem;
    background: #FFDBE2;
    border: none;
    color: #B0B0B0;
    border-radius: 8px;
    outline: none;
}

/* Submit button inside the input */
.submit-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 15px 20px;
    background: #750015;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
}


/* Submit button hover effect */
.submit-button:hover {
    background-color: transparent;
    border: 1px solid #750015;
    color: #750015;
}



/* Style of flexed images */
.images {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 120px;
}

.images .image {
    position: relative;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    border: 5px solid #750015;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.images .image img {
    width: 100%;
    height: 100%;
    position: absolute;
   
    object-fit: cover;
   
}

/* Background images for each circle */

.images .start img {
    height: 100%;
}

.images .middle {
    margin-top: 200px;
    border: 5px solid #FFDBE2;
}

.images .end img{
    object-position: top; 
}

footer {
    background-color: transparent;
    color: #000;
    text-align: left;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-left: 60px;
    left: 0;
    font-size: 1.2rem;
}

/* End of Body Style */
/* Center the typewriter container horizontally and vertically */
.typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}

#typewriter {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    transform-origin: center;
    opacity: 1;
    transition: transform 5s ease-in-out, opacity 5s ease-in-out;
}

.caret {
    display: inline-block;
    font-size: 45px;
    color: #750015;
    animation: blink 1s step-end infinite;
    position: relative;
    left: -2px;
}


/* Media queries */

@media (max-width: 1400px) {
    .body-container .body-container-inner h1 {
        width: 80%;
        font-weight: 700;
    }
}

@media (max-width: 1280px) {
    .body-container {
        background-position: center center;
    }
}

@media (max-width: 1060px) {
    .body-container .body-container-inner h1 {
        width: 95%;
    }
}

@media (max-width: 1010px) {
    .body-container .body-container-inner {
        width: 85%;
    }

    header .logo-container {
        width: 95%;
    }

    .body-container .body-container-inner {
        width: 95%;
    }

    .body-container .body-container-inner h1 {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .input-container {
        position: relative;
        width: 90%;
        margin: 35px auto;
    }


    .body-container .body-container-inner p {
        font-size: 15px;
    }
}


@media (max-width: 755px) {
    .body-container .body-container-inner h1 {
        font-size: 2.2rem;
    }

    .text-input {
        font-size: 0.95rem;
        padding: 25px 5px;
    }

    .submit-button {
        padding: 10px 10px;
        font-size: 1rem;
    }

    .body-container .body-container-inner h3 {
        font-size: 2.1rem;
    }

    .body-container .body-container-inner p {
        width: 79%;
    }

    .images .image{
        width: 26vw;
        height: 26vw;
    }

    .images .middle {
        margin-top: 150px;
        border: 5px solid #FFDBE2;
    }
}

@media (max-width: 570px) {
    .body-container {
        padding-top: 110px;      
    }
    

    .body-container .body-container-inner h1 {
        font-size: 1.7rem;
    }

    .body-container .body-container-inner h3 {
        font-size: 1.35rem;
    }

    .body-container .body-container-inner p {
        width: 100%;
        font-size: 17px;
    }

    .images .image{
        width: 30vw;
        height: 30vw;
        border-width: 3px;
    }

    .images .middle {
        margin-top: 70px;
    }

    footer {
        padding-left: 20px;
        font-size: 1rem;
    }

}